.footer-logo {
    max-width: 160px; 
    height: auto;

}


nav a.active {
    font-weight: bold !important;
    color: #f55f1d;
}

.pending-item {
    font-weight: normal !important;
}


.btnwidth {
    width: inherit !important;
}

.productImg {
    height: 200px;
}

.product-skeleton {
    height: 200px;
    margin-bottom: 15px;
  }


  .hero-img {
    border-radius: 15px;
  }