/* PageTitle.css */
.page-title-container {
    background-color: #dfdfdf; /* Add your desired background color */
    padding: 30px 0;
    border: 1px 0px solid rgb(192, 192, 192);
  }
  
  Breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  
  Breadcrumb.Item {
    font-size: 14px;
  }
  
  h1 {
    color: #007bff; /* Add your desired text color */
    margin-top: 10px;
  }
  